.myButton {
    background-color: #64bd5f;
    color: #ffff;
    border: 2px;
    padding: 20px;
    border-radius: 5px;
    margin: 5px #ffff;
    font-family: sans-serif;
    font-weight: 200;
    font-size: larger;
}

.myButton:hover {
    background: #265c23;
}

.myButton:active,
.myButton:focus {
    border: 3px solid #bedbbc;
}